:root {
  --vp-c-brand: var(--vp-c-gray);
  --vp-c-brand-light: var(--vp-c-gray-light-1);
  --vp-c-brand-lighter: var(--vp-c-gray-light-2);
  --vp-c-brand-dark: var(--vp-c-gray-dark-1);
  --vp-c-brand-darker: var(--vp-c-gray-dark-2);
}

.aside {
  
}